*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width:100%;
    height: 75px;
    box-shadow: 0 10px 10px solid rgb(56, 55, 55);
    display: flex;
    background-color: beige;
    
    color: rgb(19, 18, 18);
}
.navbar .logo{
    width: 10%;
    height: 70px;
}
.navbar .logo img{
    margin:10px;
    width: 50px;
    height: 50px;
}
.navbar .navigation{
    width:40%;
    height: 70px;
    
}
.navbar .navigation ul{
    display: flex;
    list-style: none;
}
.navbar .navigation li{
    margin-right: 20px;
    padding: 25px 0;
}
.navbar .navigation li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}
.navbar .navigation li:hover{
    border-bottom: 4px solid rgb(238, 96, 96);
}
.navigation article{
    height: 400px;
    width: 900px;
    position: absolute;
    border: solid;
    top: 72px;
    left: 170px;
    display: none;
}

.navigation .a :hover article{
    display: block;
}
.navigation .STUDIO{
    width: 30%;
    height: 450px;
    position: absolute;
    border: solid;
    top: 73px;
    /* right: 100px; */
    left: 400px;
    display: none;
}
.navigation li:hover article{
    display: block;
}
.navbar .navigation li a sup{
    color:rgb(236, 20, 56)
}
.navbar .search{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}
.navbar .search div{
    width:95%;
    height: 40px;
    background-color: rgb(228, 232, 232);
    border-radius: 5px;
}
.navbar .search input{
    background-color: rgb(206, 209, 208);
    width:80%;
    height: 30px;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    border: none;
}
.navbar .search span{
    margin-left: 10px;
    font-size: 17px;
    color: white;

}
::placeholder{
    color: white;
    font-size: 15px;
}
.navbar .profile{
    width:20%;
    height: 70px;
    padding: 20px;
    
}
.navbar .icon{
    display: flex;
    justify-content: space-between;
    color: black;
}
.navbar .icon .item{
    text-align: center;
}
.navbar .icon .item i{
    font-size: 20px;
}