*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width:100%;
    height: 75px;
    box-shadow: 0 10px 10px solid rgb(56, 55, 55);
    display: flex;
    background-color: beige;
    color: rgb(19, 18, 18);
}
.navbar .logo{
    width: 10%;
    height: 70px;
    
}
.navbar .logo img{
    margin:10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar .navigation{
    width:40%;
    height: 70px;
    
}
.navbar .navigation ul{
    display: flex;
    list-style: none;
}
.navbar .navigation .li{
    margin-right: 20px;
    padding: 25px 0;
}
.navbar .navigation li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}
#a:hover{
border-bottom: 4px solid rgb(231, 15, 15);
}
#b:hover{
border-bottom: 4px solid hotpink;
}
#c:hover{
border-bottom: 4px solid rgb(249, 135, 5);
}
#d:hover{
border-bottom: 4px solid rgb(255, 184, 4);
}
#e:hover{
border-bottom: 4px solid rgb(43, 185, 190);
}
#f:hover{
border-bottom: 4px solid rgb(43,185, 190);
}
#g:hover{
border-bottom: 4px solid rgb(255, 75, 4);
}

.navigation article{
    height: 400px;
    width: 900px;
    position: absolute;
    background-color: white;
    top: 72px;
    left: 140px;
    display: none;
}
.navigation .a :hover article{
    display: block;
}


ol>li{
    margin-bottom: 5px;

}
ol>li:hover{
    font-weight: bold;
    cursor: pointer;
}

ol>p{
    margin:15px 0;
    color: rgb(239, 14, 48);
}
#b .b>p{
   margin:15px 0;
    color: hotpink;  
}
#c .c>p{
   margin:15px 0;
    color: rgb(249, 135, 5); 
}
#d .d>p{
   margin:15px 0;
    color: rgb(255, 184, 4);
}
#e .e>p{
   margin:15px 0;
    color: rgb(41, 183, 190);
}
#f .f>p{
   margin:15px 0;
    color: rgb(41,183, 190);
}

.navigation .STUDIO{
    width: 30%;
    height: 450px;
    position: absolute;
    border: none;
    top: 73px;
    /* right: 100px; */
    left: 400px;
    display: none;
    
}
.hover_container_child>picture>img:last-child{
    width: 100%;
    height: 300px;
}
.hover_container_child>picture>img:first-child,.hover_container_child>picture>div>p{
   text-align: center;
}
.hover_container_child>picture>div{
    margin:20px 0;
}
.s{
 text-align: center;
}

    

.navigation li:hover article{
    display: block;
}

.hover_container_child{
    display: flex;
    justify-content: space-between;
    
}
ol:nth-child(even){
    background: white;

}
ol:nth-child(odd){
    background: rgb(254, 252, 252);
    
}


ol{
    list-style-type: none;
}
.ol>li{
    margin-bottom: 2px;
}



.navbar .navigation li a sup{
    color:rgb(236, 20, 56)
}
.navbar .search{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}
.navbar .search div{
    width:95%;
    height: 40px;
    background-color: rgb(228, 232, 232);
    border-radius: 5px;
}
.navbar .search input{
    background-color: rgb(206, 209, 208);
    width:80%;
    height: 30px;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    border: none;
}
.navbar .search span{
    margin-left: 10px;
    font-size: 17px;
    color: white;

}
::placeholder{
    color: white;
    font-size: 15px;
}
.navbar .profile{
    width:20%;
    height: 80px;
    padding: 20px;
    
}
.navbar .icon{
    display: flex;
    justify-content: space-between;
    color: black;
}
.navbar .icon .item{
    text-align: center;
}
.navbar .icon .item i{
    font-size: 20px;
}

.p>img{
    height: 120px;
    width: 1400px;
    margin-left: 55px;
    margin-top: 15px;
}
.p1>img{
    align-items: center;
    
    
    height: 350px;
    width: 690px;
    
}
.l{
    margin-left: 65px;
    margin-right: 0px
}
.r{
    margin-left: -6px;
    margin-right: 60px
}
.p2>img{
    align-items: center;
    
    
    height: 60px;
    width: 690px;
    
}
.l{
    margin-left: 65px;
    margin-right: 0px
}
.r{
    margin-left: -6px;
    margin-right: 60px
}


.i:hover{

    border-bottom: 6px solid rgb(231, 83, 15);
}
.profile article{
    height: 300px;
    width: 100px;
    position: absolute;
    background-color: white;
    top: 72px;
    right: 20px;
    display: none;
}
.profile :hover article{
    display: block;
}
.P3>img{
   height: 50px;
   width: 94%; 
}
.p4>img{
    width: 92%;
    margin-left: 65px;
}
.p5>img{
    margin-top: 20px;
    height: 348px;
}

.i1{
    margin-left: 65px;
}
.p6>img{
   width: 93%;
   margin-left: 65px;
   
}
.p7>img{
    margin-top: 20px;
    height: 365px;
}
.i6{
    margin-left: 64px;
}
.p8>img{
    margin-top: 20px;
    width: 93%;
    margin-left:65px;
}
.p9>img{
    height: 300px;
}
.i11{
    margin-left: 75px;
    margin-right: -4px;
}
.i12{
    margin-left: 75px;
    margin-right: -4px;
}
.i13{
    margin-left: 75px;
    margin-right: -4px;
}
.p10>img{
    height:300px ;
}
.i14{
    margin-left: 75px;
    margin-right: -4px;
}
.p11>img{
    height: 300px;
}
.i16{
    margin-left: -4px;
      margin-right: -4px;
}
.i15{
    margin-left: 300px;
}
.a1{
    margin-left: -4px;
}
.a2{
    margin-left: -4px;
}
.a3{
    margin-left: -4px;
}
.a4{
    margin-left: -4px;
}
.aa{
    background-color: rgb(248, 244, 244);
    list-style: none;
}
#as>p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
   font-weight: 600;
   font-size: small;
}
#as{

    padding: 10px;
    list-style: none;
}
#as>li{
    margin-bottom: 9px;
}
.aa{
    display: flex;
    gap:5px;
}
.ab, .ac{
    height: 60px;
    width: 200px;
}
.ad,.ae,.af,.ag{
    height: 28px;
}
.ae, .af{
    margin-left: 15px;
}
.af{
    margin-right: 15px;
}
.ah{
    margin-right: -5px;
    margin-left: 30px;
    margin-top: 40px;
    height: 55px;
}
.ai{
    margin-top: 30px;
    margin-left: 30px;
    height: 55px;
}


.hi{
    
    text-align: left;
    margin-left: 200px;
}



.foot{
    display: flex
    ;
}
.z{
    margin-right: 150px;
    margin-left: 0px;
    margin-top: 35px;
}
.x{
    margin-left:0px ;
    margin-top: 55px;
}